<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <ng-template [ngIf]="!isLoggedIn" [ngIfElse]="logout">
            <div class="mini-navbar" *ngIf="!userService.isLoggedIn">
                <ul>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/register">Register</a>
                    </li>
                </ul>
            </div>
        </ng-template>
        <ng-template #logout>
            <div class="mini-navbar">
                <ul>
                    <li>
                        <a routerLink="/profile">{{currentUser.username}}'s Profile</a>
                    </li>
                    <li>
                        <a href="#" (click)="logoutHandler()">Logout</a>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/home">Home</a>
            </li>
            <li>
                <a routerLink="/themes">Themes</a>
            </li>
            <li>
                <a routerLink="/themes/new">New Theme</a>
            </li>
        </ul>
    </nav>
</header>
